ExtraFiles/NodeRedFlow.txt
[{"id":"969ad2af.3df76","type":"tab","label":"SensorPack3","disabled":false,"info":"This node expects to receive json updates from\nMQTT topic \"SensorPack3/Output\" in the JSON format:\n\n{\n    \"temperature\":21.55,\n    \"humidity\":30.12109\n}\n\n\n"},{"id":"c5fadbc4.3396b8","type":"mqtt in","z":"969ad2af.3df76","name":"","topic":"SensorPack3/Output","qos":"1","datatype":"json","broker":"b0495d89.dfa46","x":190,"y":220,"wires":[["85de8be5.eb91c8","e45817ff.182328","f6e7726d.b705a"]]},{"id":"85de8be5.eb91c8","type":"debug","z":"969ad2af.3df76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"3f4fd4ff.97f9fc","type":"ui_gauge","z":"969ad2af.3df76","name":"","group":"178cd72f.a1d379","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value | number:1}}C","min":"17","max":"32","colors":["#001eb3","#5e36ce","#ca3838"],"seg1":"","seg2":"","x":850,"y":200,"wires":[]},{"id":"2469f33e.cd78cc","type":"ui_gauge","z":"969ad2af.3df76","name":"Humidity","group":"178cd72f.a1d379","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#00d9ff","#005580","#151d61"],"seg1":"44","seg2":"56","x":840,"y":240,"wires":[]},{"id":"e45817ff.182328","type":"change","z":"969ad2af.3df76","name":"Set temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["3f4fd4ff.97f9fc"]]},{"id":"f6e7726d.b705a","type":"change","z":"969ad2af.3df76","name":"Set Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[["2469f33e.cd78cc"]]},{"id":"b0495d89.dfa46","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.208","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"178cd72f.a1d379","type":"ui_group","z":"","name":"SensorPack3","tab":"6357b30.9ccf94c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6357b30.9ccf94c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]